@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  max-width:100%;
}


*,
*::before,
*::after {
  box-sizing: border-box; /* Include padding and border in width/height calculations */
}

body {
  font-family: "Roboto";
  color:rgb(41, 41, 41);

}


.portfolio-page-body {
    font-family: "Roboto";
    color:rgb(41, 41, 41);
    display:flex;
    max-width:100%;
    justify-content: center;
    align-items:center;
    min-height: 100vh; /* Ensures full viewport height */
}

.wrapper {
  max-width:800px;
  margin:0 auto;
  display:flex;
}

.bottom-container {
  display:flex;
  width:100%;
}

.product-view-img {
  height:200px;
  object-fit:contain;
}

.left-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  width: 100%;  /* Ensure it takes up the full width */
  max-width: 100%;  /* Prevent overflow */
}

.left-bottom-container {
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
}

header {
  display:flex;
  justify-content: space-between;  
}

nav ul {
  display:flex;
  gap:3rem;
  justify-content: space-between;
}

.container {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.product-img-carousel {
    height: 100px;  /* Set a fixed height */
    object-fit: contain; /* Ensures the full image is visible */
}

.menu-burger {
  display:none;
  background:url('menu_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg') no-repeat;
  width:26px;
  height:26px;
}

nav a:hover {
  color:rgb(78, 210, 78);
}

.nav-link-active {
  background:url('close_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg');
  width:26px;
  height:26px;
}

.shopping-cart-img-checkout {
  height: 100px;
  object-fit: contain;
}

@media screen and (max-width: 800px) {
  .portfolio-page-body {
    font-family: "Roboto";
    color:rgb(41, 41, 41);
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    max-width:100%;
    padding:1rem;
    justify-content: center;
    align-items:center;
    min-height: initial; /* Ensures full viewport height */
  }

main {
  display:flex;
  flex-direction:column;
}

  .links {
    display:flex;
    justify-content: center;
    align-items:center;
  }

  .github-btn {
    margin-top:0;
  }
  
  .wrapper {
    display:flex;
    max-width:100%; 
    
    flex-direction: column;
    box-sizing: border-box;  /* Include padding in total width calculation */

  }

  .nav-links {
    display:none;
  }


  .link-btn {
    margin:0;
  }
  .menu-burger {
    display:block;

  }

  .bottom-container {
    display: flex;
    flex-direction: column;

    flex-wrap:wrap;
    max-width:100%;
    justify-content: center;
}

.left-container {
  display:flex;
  max-width:100%;
  flex-direction: column;
  justify-content: center;
}

.left-bottom-container {
  display:flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  margin-right: 0;

}

.links {
  display:flex;
  gap:1rem;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: none;
}

.menu-burger {
  display: block;
}

.portfolio-project-btn {
  width:100%;
  margin-top:1rem;
}

}
